@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
body{
  background-color: #e0e7ff;
}
a{
  text-decoration: none;
  color: #4a69bd;
}
p{
  display: flex;
}
.tipo{
  font-family: 'Montserrat', sans-serif;
}

#est-top{
  margin-top: 0%;
  font-family: 'Montserrat', sans-serif;
}

#hist-top{
  font-family: 'Montserrat', sans-serif;
}

#head{
  background-color: white;
  margin-bottom: 2%;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

#head >h3{
  margin-top: 1%;
  font-family: 'Montserrat', sans-serif;
  margin-right: 20px;
}

#side-menu{
  overflow:auto;
  width: 16%;
  border-radius: 5px;
  background-color: white;
  justify-content: center;
  display: flex;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  margin-left: 2%;
}

#painel{
  display: flex;
}

#painel-estat-top{
  display: flex;
  justify-content: space-between;
}

#painel-estat-top > div{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  height: inherit;
  padding-left: 5px;
  padding-right: 50px;
  background-color: white;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
}

#painel-estat-top > div > h3{
  margin: 0%;
  padding: 0%;
}


#painel-estat-middle{
  margin-top: 1%;
  width: 100%;
  background-color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
}

#painel-estat-middle > div{
  padding-left: 5px;
}

#painel-estat-middle > div >h3{
  margin-left: 1%;
  margin: 0;
}

#painel-estat-bottom{
  margin-top: 1%;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

#painel-estat-bottom > div{
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  background-color: white;
  height: 50vh;
  font-weight: bold;
  padding-left: 5px;
  margin-bottom: 50px;
}
