@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
body{
  background-color: #e0e7ff;
}
a{
  text-decoration: none;
  color: #4a69bd;
}
p{
  display: flex;
}
.tipo{
  font-family: 'Montserrat', sans-serif;
}
#head{
  background-color: white;
  padding-bottom: 2%;
  margin-bottom: 2%;
  border-radius: 5px;
}

#head >h3{
  float: right;
  margin-top: 1%;
  font-family: 'Montserrat', sans-serif;
  margin-right: 20px;
}

#side-menu{
  height: 80vh;
  border-radius: 5px;
  background-color: white;
  justify-content: center;
  display: flex;
  font-family: 'Montserrat', sans-serif;
}